/* Reset */
body, h1, h2, h3, p, ul{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Georgia, serif;
    color: #252525;
    min-height: 100vh;
}

.container{
    max-width: 960px;
    margin: 0 auto;
}

.clear:after, .clear:before{
    content: "";
    display: table;
    clear: both;
}


/* menu indice site */
/* 1 -  navbar do site */
/* 2 - section chamada */
/* 3 - footer do site */


/* 1 -  navbar do site */
nav{
    background-color: #252525;
    padding: 20px 0;
}

nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1.125em;
}

nav img{
    margin-left: 10px;
}

nav ul{
    float: right;
    margin-right: 10px;
}

nav ul li{
    display: inline-block;
    margin: 10px 10px;
}
nav ul li:after{
    content: "";
    background-color: #f2f2f2;
    width:0; 
    height: 5px;
    display: block;
    transition: 0.3s;
}

nav ul li:hover:after{
    width:100%;
}

@media (max-width: 740px){
    nav{
        text-align: center;
    }
    nav img{
        float: none;
        margin: 0 auto;
    }
    nav ul{
        float: none;
        clear: both;
    }
}

/* 2 - section chamada */

#paginanaoencontrada {
    background: url("../img/fundo-cafe2.jpg") no-repeat center center;
    background-size: cover;
    padding: 170px;
}

#paginanaoencontrada h2 {
    font-size: 1.50em;
    color: #f2f2f2;
    text-align: left;
}

#paginanaoencontrada h2 {
    font-size: 3em;
    color: #f2f2f2;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px #252525;
}

#Ir-para-home{
    display: table;
    font-size: 1.125em;
    margin: 0px auto 60px auto;
    text-decoration: none;
    color: #252525;
    border: 3px solid  #f2f2f2;
    padding: 15px 30px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
    margin-top: 30px;
    background-color: #f2f2f2;
}

#Ir-para-home:hover{
	background-color: #252525;
	color: #f2f2f2;
    transition: 0.3s;
    border: 3px solid #252525;
}

@media (max-width: 740px){
    #paginanaoencontrada{
        padding: 60px 0;
    }
}

@media (max-width: 740px){
    #paginanaoencontrada h2{
        font-size: 2em;
    }
}

/* 3 - footer do site */

footer {
    padding: 40px 0 90px 0;
    display: block;


}

footer > .container{
    border-top: 3px solid#252525;
    padding: 30px;
}
footer img{
    float:right;
    margin: 0 10px;
}

footer p{
    float:left;
    font-size:1.125em;
    margin: 0 15px;
    line-height: 1.4em; 
}   

@media(max-width: 740px){
    footer img{
        margin: 20px 15px;
        float: none;
    }
    footer p{
        width: 300px;
        float: none;
    }
    
    footer{
        display:flex;
        padding: 40px 0 40px 0;
    }
}

@media(max-width: 420px){
    footer img{
        margin: 20px 15px;
        float: none;
    }
    footer p{
        width: 260px;
        float: none;
    }
    
    footer{
        display:flex;
        padding: 40px 0 40px 0;
    }

    footer .container{
        padding: 0px;
    }
}

